a {

  color: cyan;
  text-decoration: underline;
  
}

body {

  margin-left: 12.5%;
  margin-right: 12.5%;

  background-image: linear-gradient(#000000, #000011);
  color: white;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#header_div {

  display: flex;

  flex-direction: column;

  justify-items: center;
  align-items: center;

  font-size: 2rem;

}

#banner {

  display: flex;

  justify-content: center;

  width: 100%;

}

#banner_img {

  width: 80%;

  border: 2px solid white;
  border-radius: 20px;

}

.profile_img {

  height: 30%;
  max-height: 300px;

  margin: 2rem 0 2rem 2rem;

  border: 2px solid white;
  border-radius: 20px;

}

#bio_wrapper {

  display: flex;

  margin: 2.5rem;

  border: 2px solid white;
  border-radius: 10px;
  
}

#bio {

  margin: 0 1.5rem 1.5rem 0;

  font-size: 2rem;

}



@media (orientation: portrait) {

  body {

    margin: 5%;

  }

  #bio_wrapper {

    flex-direction: column;

    align-items: center;

  }

  #bio {

    margin: 1.5rem;

    text-align: center;

  }

}

@media (orientation: landscape) {

  #bio_wrapper {

    flex-direction: row;
    
  }

}
